div.columna1,
div.columna2,
div.columna3 {
    width: 33%;
    float: left;
}

div.columna-2 {
    background-color: coral;
}

div.testimonio {
    padding: 30px;
    text-align: center;
}

div.testimonio {
    height: 100px;
}

div.clearfix {
    clear:both
}